[Unit]
Description=Run an AnimatedLEDStrip Server
After=network-online.target

[Service]
ExecStart=/usr/bin/java -jar /usr/local/leds/ledserver.jar -f /etc/leds/led.config

[Install]
WantedBy=multi-user.target
